.appRight {

    background-color: #141B2D;
    font-size: 4rem;
    height: 90vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 84vw;
    left: 16vw;
    color: white;
}

.appLeft {
    /* transition: all 1s ease; */
    background-color: #141B2D;
    font-size: 4rem;
    height: 90vh;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    color: white;

}

.hghg {
    font-size: 1.5rem;
    /* overflow: hidden; */
    /* overflow-y: scroll; */
}