.contactBox1 {
    padding: 3rem 1rem;
    margin: 0;
    /* font-weight: 900; */

    background-color: #F6F6F6;
}

.contactContainer {
    margin-block: 1rem;
}

.contactHeading {
    color: #005F60;
    font-weight: 400;
    /* color: white; */
    border-bottom-color: #00BCD4;
}

.contactHover:hover {
    color: red;
}

.contactContainerSection3 {
    /* background-color: #00BCD4; */
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 1rem;
}

.contactContainerSection2 {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #005F60;

}

.contactText {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(32, 32, 32);
    line-height: 1.6rem;
    /* letter-spacing: 1px; */
}

.contactItems {
    gap: 0.4rem;
}

@media(max-width:880px) {
    .contactContainerSection3 {
        flex-direction: column-reverse;
    }
}