.loginContainer {
    background: url('https://wallpapercave.com/wp/wp2657869.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

    color: white;
}

.loginBlackShade {
    background-color: rgba(0, 0, 0, 0.205);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* width: 25vw; */
}

.loginHeading {
    width: 15rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.4rem;
}

.loginText {
    font-size: 1.2rem;
    font-weight: 700;
}

.loginUser {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 20rem;
}

.loginInput {
    width: 19rem;
    outline: none;
    padding: 0.5rem;
    /* height: ; */

}

.loginRememberBox {
    display: flex;
    gap: 0.5rem;
}

.loginIcon {
    margin: 0.5rem;
}

.loginButton {
    background-color: rgb(201, 64, 255);
    padding: 0.5rem 1rem;
    border: 1px solid white;
    cursor: pointer;
}

.loginButton:hover {
    background-color: rgb(209, 98, 253);

}